body, ul, li {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}
a {
    color: #444;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}
body {
    width: 60%;
    margin: 0 auto;
}

.header-nav ul {
    text-align: center;
}
.header-nav ul li {
    display: inline-block;
}
.header-nav ul li a {
    display: block;
    padding: 2px 20px;
}