div.header
    h1=content
    div.header-nav
        ul
            li
                a(href='') Home
            li
                a(href='/contact') Contact
            li
                a(href='/help') Help